body {
    background-color: #f5f5f5;
}

.header-menu img {
  width: 100%;
  max-width: 280px;
  height: auto;
  margin-bottom: 3rem;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.login-register-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.login-register-box {
    background: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.100);
    width: 100%;
    max-width: 420px;
}

.login-register-box h3 {
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

#loginError{
  color: red;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.btn-dark {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 0%;
    margin-bottom: 1rem;
}

.btn-white {
    width: 100%;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-radius: 0%;
    margin-bottom: 1rem;
    background-color: white;
    border: solid black 1px;
}

.btn-white a {
    text-decoration: none;
    color: black;
}

.btn-white:hover {
  background-color: #000;
  color: #fff;
}

.btn-white:hover a {
  color: #fff;
}
