body {
  font-family: 'Poppins', sans-serif;
}

/* main, hero, cards, etc */
main {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main h1, main h2 {
  letter-spacing: 1px;
}

.card img {
  object-fit: cover;
}

.card:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

/* HERO */
:root {
  --hero-bg: url('https://objetos-xlk.estaticos-marca.com/uploads/2025/09/17/68ca83450963f.png');
}

.hero-section {
  background: var(--hero-bg) center center/cover no-repeat;
  min-height: 70vh;
  position: relative;
  color: #fff;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.hero-section .text-center {
  position: relative;
  z-index: 2;
}
